body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 20pt;
    margin-left: 20px;
    font-variant: small-caps;
    font-weight: 600;
}

#picrow {
    display: flex;
}

#picrow div {
    margin-inline: 5px;
    display: flex;
    flex-direction: column;
}

#bigpic {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#bigpic img {
    width: 1000px;
    
}

#bigpic p {
    text-align: center;
    font-weight: 300;
}
